
<div>
    <table border=0>
        <tr>
            <th>Name</th>
            <th>Tax id</th>
        </tr>
    {% for p, np in phyla %}
        <tr id="{{ tax.tax_id }}" class="parent">
           <td>
                <a href="/phyla/children_of/{{ p.tax_id }}">
                {{ np.name_txt }}
                </a>
            </td>
             <td>
                <a href="/phyla/children_of/{{ p.tax_id }}">
                {{ p.tax_id }}
                </a>
            </td>
        </tr>
        </a>
    {% endfor %}
    </table>

</div>


