
<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/jquery.js"></script>

<script>
    $(document).ready(function() {
      $('a').filter(function() {
        return this.hostname && this.hostname !== location.hostname;
      }).after(' <img src="/static/external.png" alt="external link"/>');
    });
</script>

<img src="/static/galogo.png">
<div>
<a class="headerlink" href="/">Main</a><a class="headerlink" href="/taxonomy/">Browse Taxonomy</a> <a class="headerlink" href="/admin/">Admin</a>
</div>

<div class="searchbox">
Search on genome name, NCBI bioproject id, accession number or taxonomic id: 
<br>
<input type="text" name="query" size="50"> <button type="button" name="go">Go</button>
</div>

