{% comment %}
Expected Inputs:
    'form_name' : the name of the form (for updates)
    'order_by' : order_by value for this table
    'order_dir' : order_dir value for this table
{% endcomment %}

{% load table_tools %}
<table class=table-genome border=0>
   <tr>
      <th>Release Date</th>
      <th>Tax ID</th>
      <th>Bioproject ID</th>
      <th>Genome Name</th>
      <th>Score<sup><a href='/score' title='Definition of Score'>?</a></sup></th>
      <th>Chr.</th>
      <th>Pla.</th>
      <th>Length (bp)</th>
      <th>Genes</th>
      <th>Gene Density (per&nbsp;Kbp)</th>
      <th>Percent AT</th>
      <th>rRNA</th>
      <th>tRNA</th>
   </tr>
   <tr id="{{ genome.genome_id }}" class="parent">
      <td>{{ genome.release_date }}</td>
      <td>{{ genome.tax_id }}</td>
      <td><a href="http://www.ncbi.nlm.nih.gov/bioproject?term={{ genome.bioproject_id }}">{{ genome.bioproject_id }}</a></td>
      <td><a href="/browse/{{genome.tax_id}}">{{ genome.genome_name }}</a></td>
      {# <td>{{ genome.score }}</td> #}{% include "genomes/display_score.html" %}
      <td>{{ genome.chromosome_count }}</td>
      <td>{{ genome.plasmid_count }}</td>
      <td>{{ genome.total_bp }}</td>
      <td>{{ genome.gene_count }}</td>
      <td>{{ genome.gene_density }}</td>
      <td>{{ genome.percent_at }}</td>
      <td>{{ genome.rrna_count }}</td>
      <td>{{ genome.trna_count }}</td>
   </tr>
</table>
