{% comment %}
Expected Inputs:
    'form_name' : the name of the form (for updates)
    'order_by' : order_by value for this table
    'order_dir' : order_dir value for this table
{% endcomment %}

{% load table_tools %}
<table class=table-genome border=0>
   <tr>
      {% table_header form_name "modify_date" order_by order_dir "Modify Date" %}
      {% table_header form_name "tax_id" order_by order_dir "Tax ID" %}
      {% table_header form_name "bioproject_id" order_by order_dir "Bioproject ID"%}
      {% table_header form_name "genome_name" order_by order_dir "Genome Name" %}
      {% table_header form_name "score" order_by order_dir "Score<sup><a href='/score' title='Definition of Score'>?</a></sup>" %}
      {% table_header form_name "chromosome_count" order_by order_dir "Chr."  %}
      {% table_header form_name "plasmid_count" order_by order_dir "Pla." %}
      {% table_header form_name "total_bp" order_by order_dir "Length (bp)" %}
      {% table_header form_name "gene_count" order_by order_dir "Genes" %}
      {% table_header form_name "gene_density" order_by order_dir "Gene Density (per&nbsp;Kbp)" %}
      {% table_header form_name "percent_at" order_by order_dir "Percent AT" %}
      {% table_header form_name "rrna_count" order_by order_dir "rRNA" %}
      {% table_header form_name "trna_count" order_by order_dir "tRNA" %}
   </tr>
   {% for g in genome %}
   <tr id="{{ genome.genome_id }}" class="parent">
      <td>{{ g.modify_date }}</td>
      <td>{{ g.tax_id }}</td>
      <td><a href="http://www.ncbi.nlm.nih.gov/bioproject?term={{ g.bioproject_id }}">{{ g.bioproject_id }}</a></td>
      <td><a href="/browse/{{g.tax_id}}">{{ g.genome_name }}</a></td>
      {# <td>{{ g.score }}</td> #}{% include "genomes/display_score.html" with genome=g %}
      <td>{{ g.chromosome_count }}</td>
      <td>{{ g.plasmid_count }}</td>
      <td>{{ g.total_bp }}</td>
      <td>{{ g.gene_count }}</td>
      <td>{{ g.gene_density }}</td>
      <td>{{ g.percent_at }}</td>
      <td>{{ g.rrna_count }}</td>
      <td>{{ g.trna_count }}</td>
   </tr>
   {% endfor %}
</table>
