{% comment %}
Expected Inputs:
    'taxon' : the taxonomy to display
{% endcomment %}

{% load table_tools %}
<table class=table-taxonomy border=0>
   <tr>
      <th>Tax ID</th>
      <th>Taxonomic Name</th>
      <th>Genomes</th>
      <th>Score<sup><a href='/score' title='Definition of Score'>?</a></sup></th>
      <th>Gene Density</th>
      <th>Percent AT</th>
   </tr>
   <tr id="{{ taxon.tax_id }}" class="parent">
         <td>{{ taxon.tax_id }}</td>
         <td>{{ taxon.tax_name }}</td>
         <td>{{ taxon.genome_count }}</td>
         <td>{{ taxon.score }}</td>
         <td>{{ taxon.gene_density }}</td>
         <td>{{ taxon.percent_at }}</td>
   </tr>
</table>
