<div>
    <table border=0>
{% if header %}
        <tr>
            <th>Last Modified</th>
            <th>Tax id</th>
            <th>Tax Name</th>
            <th><img src="/static/ncbi.ico" alt="NCBI logo">Bioproject id</th>
            <th>Genome Name</th>
            <th>Score</th>
            <th>Chromosomes</th>
            <th>Plasmids</th>
            <th>Length (bp)</th>
            <th>Genes</th>
            <th>Gene Density (per Kb)</th>
            <th>Percent AT</th>
            <th>rRNA</th>
            <th>tRNA</th>
        </tr>
{% endif %}


    {% for p in phyla %}
        <tr>
            <td>{{ p.modify_date }}</td>
            <td>{{ p.tax_id }}</td>
            <td> <a href="/tax/{{ p.tax_id }}/"> {{ p.tax_name }} </a> </td>
            <td><a href="http://www.ncbi.nlm.nih.gov/bioproject?term={{ p.bioproject_id }}">{{ p.bioproject_id }}</a></td>
            <td>{{ p.p_name }}</td>
            <td>{{ p.score }}</td>
            <td>{{ p.chromosome_count }}</td>
            <td>{{ p.plasmid_count }}</td>
            <td>{{ p.total_bp }}</td>
            <td>{{ p.gene_count }}</td>
            <td>{{ p.gene_density }}</td>
            <td>{{ p.percent_at }}</td>
            <td>{{ p.rrna_count }}</td>
            <td>{{ p.trna_count }}</td>
        </a>
        </tr>
    {% endfor %}
    </table>
</div>


